{# component/_navbar.html.twig #}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <ul>
            <li>
                Merci pour la correction Célie.
            </li>
            <li>
                Et merci aux autres Wilders.
            </li>
            <li>
                J'adore Twig, Twig est mon ami !
            </li>
        </ul>
    </nav>
    
</body>
</html>